@mixin addFont($name, $path, $weight, $style: normal) {
	@font-face {
		font-family: $name;
		src: url('#{$path}.eot');
		src: local('☺'),
			url('#{$path}.woff2') format('woff2'),
			url('#{$path}.woff') format('woff'),
			url('#{$path}.ttf') format('truetype');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

$urlRobotoRegular: 'Assets/fonts/roboto/Roboto-Regular';
$urlRobotoMedium: 'Assets/fonts/roboto/Roboto-Medium';

@include addFont('Roboto', $urlRobotoRegular, 400);
@include addFont('Roboto', $urlRobotoMedium, 500);

// @font-face {
// 	font-family: 'Roboto';
// 	src: url('#{$urlRobotoRegular}.eot');
// 	src: local('☺'),
// 		url('#{$urlRobotoRegular}.woff2') format('woff2'),
// 		url('#{$urlRobotoRegular}.woff') format('woff'),
// 		url('#{$urlRobotoRegular}.ttf') format('truetype');
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: 'Roboto';
// 	src: url('#{$urlRobotoMedium}.eot');
// 	src: local('☺'),
// 		url('#{$urlRobotoMedium}.woff2') format('woff2'),
// 		url('#{$urlRobotoMedium}.woff') format('woff'),
// 		url('#{$urlRobotoMedium}.ttf') format('truetype');
// 	font-weight: 500;
// 	font-style: normal;
// 	font-display: swap;
// }